---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre Mim"
	description="Um resumo de quem eu sou e os objetivos desse blog."
	pubDate={new Date('March 17 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Olá, meu nome é Matheus. Sou formado em Engenharia Aeroespacial no pelo Instituto Tecnológico de Aeronáutoca (ITA).
		Atualmente trabalho com programação e faço mestrado na mesma universidade.
	</p>
	<p>
		Meu contato com inglês surgiu desde muito cedo, quando eu estava na Turma ITA, mas
		mesmo depois que passei no ITA e comecei a desenvolver trabalhos senti muitas dificuldades
		com o inglês, principalmente durante a conversação.
	</p>
	<p>
		Passei em tudo durante a universidade, mas ao final do curso,
		quando veio uma oportunidade internacional para mim, eu não fui capaz de 
		passar nela por não ter nível de conversação suficiente.
		O caso interessante é que eu tinha as qualificações técnicas, mas não
		de conversação, que eu iria usar durante meu dia a dia.
	</p>
	<p>
		Desde então comecei a estudar inglês com mais intensidade para me aperfeiçoar e nunca mais
		passar por algo assim.
	</p>
	<p>
		Este blog não contém toda a minha jornada, mas minha intenção é torná-lo um meio de estudo
		para mim e para outras pessoas que queiram estudar da mesma forma que a minha.
	</p>
	<p>
		Pretendo colocar coisas que aprendi, principalmente quando estive conversando em inglês
		para aperfeiçoar o conteúdo.
	</p>
	<p>
		De qualquer forma, boa leitura e espero que possa te ajudar de alguma forma com meus
		conteúdos.
	</p>
</Layout>
