---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Seja Bem Vindo!</h1>
			<p>
				Bem vindo ao meu site para estudo em inglês. Aqui eu pretendo colocar
				todos os meus resumos e estudos que acho interessantes sobre inglês.
			</p>
			<p>Este site pretende conter:</p>
			<ul>
				<li>Resumo das minhas lissões de inglês.</li>
				<li>Textos sobre assuntos interessantes em inglês.</li>
				<li>Atividades em inglês</li>
				<li>Explicação sobre um tema que estou aprendendo.</li>
			</ul>
			<p>
				Caso sinta vontade de desenvolver um site semelhante a este, deixo aqui
				o link para o repositório do projeto contendo instruções para configurar
				e customizar o projeto como deseje.
				<a href="#">Repositório English Study</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
